.App{
padding-bottom: 60%;
  background: lightgray;
  margin: auto;
}
h1{
  text-align: center;
  color: black;
}
.navigation-bar{
margin-right: 20px;
  margin-left: 20px;
  padding-right: 20px;
}
.navigation-data{
  list-style-type: none ;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: yellow;
}
.buttons{
  background:lightblue;
  width:150px;
  height:50px;
  margin:5px;
}
.button-home-page{
  text-align: center;
}

/*credit{*/
/*  text-align: center;*/
/*}*/
/*.active{*/
/*text-decoration: none;*/
/*  color: black;*/
/*}*/


/*.buttons:hover{*/
/* background: white;*/
/*}*/
/*.signIn{*/
/*  background: #465bec;*/
/*  width:150px;*/
/*  height:50px;*/
/*  margin:5px;*/
/*}*/
/*.signIn:hover{*/
/*  background: white;*/
/*}*/
